In [194]:
import pandas as pd
d = {'company' : ['a', 'a', 'b', 'b','c','c'], 
     'status' :['active', 'cancelled','cancelled', 'cancelled','cancelled','cancelled'],
     'cancelled_at' :[1443580000, 1443580000,1437963900, 1427986090, 1443580000, 1443080000]
    }

df = pd.DataFrame(d)
df

   cancelled_at company     status
0    1443580000       a     active
1    1443580000       a  cancelled
2    1437963900       b  cancelled
3    1427986090       b  cancelled
4    1443580000       c  cancelled
5    1443080000       c  cancelled

In [195]:
only_active = df[df["status"]=="active"]
only_active

   cancelled_at company  status
0    1443580000       a  active

In [196]:
only_cancelled = df[(~df["company"].isin(only_active["company"].unique() ) )]
only_cancelled

   cancelled_at company     status
2    1437963900       b  cancelled
3    1427986090       b  cancelled
4    1443580000       c  cancelled
5    1443080000       c  cancelled

In [197]:
grouped_cancelled = only_cancelled.groupby(["company","status"])["cancelled_at"].max().to_frame().reset_index()
grouped_cancelled

  company     status  cancelled_at
0       b  cancelled    1437963900
1       c  cancelled    1443580000

In [200]:
result = pd.concat([only_active, grouped_cancelled], sort=True).reset_index()
result

   index  cancelled_at company     status
0      0    1443580000       a     active
1      0    1437963900       b  cancelled
2      1    1443580000       c  cancelled